@import '~theme/colors';

.base {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  > thead > tr > th:first-child {
    text-align: center !important;
  }
}

.striped {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    > td:first-child {
    text-align: center !important;
  }
}

.headerColumn {
  background-color: $secondaryColor;
  font-weight: 500;
  padding: 0.5em;
  text-align: left;
  background: #f6f6f6;
}

.headerColumnSortable {
  cursor: pointer;
}

.headerColumnWrapper {
  align-items: center;
  display: flex;
}

.columnText {
  flex: 1;
}

.dataColumn {
  padding: 0.5em;
  height: 1.5em;
  text-align: left;
}

.dataColumnStriped {
  color: $quaternaryColorContrast;
}

.sorter {
  text-align: center;
  width: 0.5em;
}
