@import 'colors';

$fontFamily: Roboto;
$fontSize: 14px;
$fontWeight: 400;

%fullHeight {
  height: 100%;
}

%fullWidth {
  width: 100%;
}

%full {
  height: 100%;
  width: 100%;
}

%pageCol {
  display: flex;
  flex-direction: column;
}
