$backgroundColor: #EEEDED;
$tertiaryColor: #AAAAAA;
$tertiaryColorContrast: #FFFFFF;
$quaternaryColor: #DAEEF5;
$quaternaryColorContrast: #333333;
$textColor: #333333;
$lightBackgroundColor: #EAEAEA;
$lighterBorderColor: #E0E0E0;
$lightBorderColor: #CCCCCC;
$veryLightBackgroundColor: #F9F9F9;
$brightWhite: #FFFFFF;
$darkBlack: #000000;
$mediumGrey: #999999;
$darkGrey: #666666;
$lightGrey: #D8D8D8;
$veryLightGrey: #F1F1F1;
$primaryColor: #1976D2;
$primaryColorContrast: #FFFFFF;
$primaryPastelColor: #E6F8FA;
$primaryPastelColorContrast: #51BCCF;
$primaryLightColor: #A7E5ED;
$primaryLightColorContrast: #FFFFFF;
$primaryDarkColor: #5ACFDD;
$primaryDarkColorContrast: #FFFFFF;
$secondaryColor: #EEEEEE;
$secondaryColorContrast: #00BDFB;
$secondaryPastelColor: #FFFFFF;
$secondaryPastelColorContrast: #00BDFB;
$secondaryLightColor: #FAFAFA;
$secondaryLightColorContrast: #00BDFB;
$secondaryDarkColor: #DBDBDB;
$secondaryDarkColorContrast: #00BDFB;
$alertColor: #FFC734;
$alertColorContrast: #886A0F;
$alertPastelColor: #FFE6A4;
$alertPastelColorContrast: #BE8804;
$alertLightColor: #FFD158;
$alertLightColorContrast: #BE8804;
$alertDarkColor: #FBB600;
$alertDarkColorContrast: #886A0F;
$dangerColor: #F76063;
$dangerColorContrast: #F9F2F4;
$dangerPastelColor: #FCCBCC;
$dangerPastelColorContrast: #D50107;
$dangerLightColor: #F98284;
$dangerLightColorContrast: #F9F2F4;
$dangerDarkColor: #F42A2F;
$dangerDarkColorContrast: #FFFFFF;
$defaultColor: #F5F5F5;
$defaultColorContrast: #868484;
$defaultPastelColor: #FFFFFF;
$defaultPastelColorContrast: #868484;
$defaultLightColor: #FAFAFA;
$defaultLightColorContrast: #868484;
$defaultDarkColor: #DBDBDB;
$defaultDarkColorContrast: #868484;
$infoColor: #868484;
$infoColorContrast: #FDFEFD;
$infoPastelColor: #89E2FF;
$infoPastelColorContrast: #3C7B90;
$infoLightColor: #39CEFF;
$infoLightColorContrast: #236F88;
$infoDarkColor: #1976D2;
$infoDarkColorContrast: #FFFFFF;
$successColor: #56AD06;
$successColorContrast: #FFFFFF;
$successPastelColor: #A3D675;
$successPastelColorContrast: #497126;
$successLightColor: #86C74A;
$successLightColorContrast: #FFFFFF;
$successDarkColor: #3D8000;
$successDarkColorContrast: #FFFFFF;
$systemColor: #4D577B;
$systemColorContrast: #F9F2F4;
$systemPastelColor: #BBC0D4;
$systemPastelColorContrast: #515C84;
$systemLightColor: #BBC0D4;
$systemLightColorContrast: #515C84;
$systemDarkColor: #383E59;
$systemDarkColorContrast: #FFFFFF;
$warningColor: #FF7B1E;
$warningColorContrast: #FFFFFF;
$warningPastelColor: #FFBC8D;
$warningPastelColorContrast: #B55A1A;
$warningLightColor: #FF9B55;
$warningLightColorContrast: #FFFFFF;
$warningDarkColor: #DA5A00;
$warningDarkColorContrast: #FFFFFF;
$errorColor: #F44336;
$errorColorContrast: #FFFFFF;
$disabledColor: #C0C0C0;
$disabledColorContrast: #FFFFFF;
$sideMenuBackgroundColor: #2d323e !important;
$sideMenuActiveBackgroundColor: #262b35 !important;
$sideMenuBackgroundTxtColor: rgba(255, 255, 255, 0.4) !important;
$sideMenuTextColor: #FFFFFF;
$sideMenuBorderColors: #999999;
$sideMenuBorderLeftColors: #00aeef;
$tabColor: #FDA703;
$tableBackground: #EEEEEE;
$tableRowHoverBackground: #e6e3e3;

// new Palette
$palette-1: #00BCFE;
$palette-2: #008DBF;
$palette-3: #fff;
$palette-4: #0277A0;
$palette-5: #F8B514;
$palette-6: #F4F7F7;
$palette-7: #DEE3E5;
$palette-8: #555A5C;
$palette-9: #B0BBBF;

